<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/jquery_3.7.0.js"></script>
    <script type="text/javascript" src="/static/js/sockjs.min.js"></script>
    <script type="text/javascript" src="/static/js/stomp.min.js"></script>
    <script type="text/javascript" src="/static/js/agree.js"></script>
    <link href="/static/css/all.css" rel="stylesheet">
</head>
<body>
    <main layout:fragment="content"></main>
</body>
</html>