<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>X-Ray 뷰</title>
</head>
<body>
<main layout:fragment="content">

    <div class="main_content">
        <div class="wrapper">
            <div class="monitor_content content_wrap">
                <div class="grid_wrapper">
                    <div class="image_container">
                        <div class="image">
                            <div class="image_wrapper">
                                <img id="main_image" src="static/img/test.png">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="icn_logo">
                    <img class="adex_image" src="static/img/main_logo_inc.png">
                </div>
                <p class="status_text">
                    <span id="reset">20</span>
                </p>

                <p class="status_text">결과 : 개봉 검사</p>
                <form method="post" action="/upload" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <input type="hidden" name="type" value="shoe">
                    <select name="status">
                        <option value="pass">통과</option>
                        <option value="check">개봉검사</option>
                    </select>
                    <input type="submit" value="제출">
                </form>
            </div>
        </div>
    </div>
    <script>
        var stompClient = null;

        function connect() {
            var socket = new SockJS('/websocket');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                stompClient.subscribe('/totalView/shoe', function (message) {
                    const data = JSON.parse(message.body);
                    test(data.filename,data.status); // HTML에서 정의한 함수 실행
                    disconnect();
                    connect();
                });
            });


        }

        function disconnect() {
            if (stompClient !== null) {
                stompClient.disconnect();
            }
            console.log("Disconnected");
        }
        connect();

    </script>
    <script>

        let numberInterval;
        function test(val,status){
            $('#main_image').attr('src','image/'+val);
            if (numberInterval) {
                clearInterval(numberInterval);
            }
            let count = 20;
            $('#reset').text(20)
            function updateCount(){
                count--
                if(count<10)$('#reset').text('0'+count);
                else $('#reset').text(count);
                if(status == "check"){
                    if(count % 2 != 0){$('.main_content').css('background','#f900006b')}
                    else if(count % 2 == 0){$('.main_content').css('background','rgba(148, 148, 148, 0.25)')}
                }
                if(count == 0){
                    $('.wrapper').css('border','2px solid rgba(148, 148, 148, 0.25)')
                    $('#main_image').attr('src','static/img/test.png');
                    clearInterval(numberInterval);
                    $.ajax({
                        url : "imageDeleteCom",
                        method : "post",
                        data : {"name" : val},
                        success : function(data){
                            console.log("파일 삭제");
                        }
                    })
                }
            }
            numberInterval = setInterval(updateCount, 1000);
        }
    </script>

</main>
</body>
</html>